*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}

.container{
    position: relative;
}

.clock{
    /* position: absolute; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    border: 3px solid rgba(255,255,255,0.5);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
    font-size: 20px;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock::before{
    content: '';
    height: 8px;
    width: 8px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 2;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    width: 4px;
    height: var(--h);
    background-color: var(--clr);
    border-radius: 8px;
}